src/pages/404.pug
doctype html
html
	include /head/head
	body
		.page-notfound
			.page-notfound__inner
				img.page-notfound__pic.lazyload(data-srcset="images/404_768w.jpg 768w, images/404.jpg", data-src="images/404.jpg", alt="")
				.page-notfound__text
					.page-notfound__title Такой страницы не существует.
					| Через #[span.js-timer 5] секунд вы будете перенаправлены на #[a(href="/") главную страницу]

		script
			| (function() {
			|	var t = 5;
			|	var jsTimer = document.querySelector('.js-timer');
			| 	var timer = setInterval(function() {
			| 		t--;
			|		jsTimer.innerHTML = t;
			|		if(!t) {
			|			clearInterval(timer);
			|			location.href = '/dist/';
			|		}
			| 	}, 1000);
			| })()

dist/404.html
<!DOCTYPE html>
<html>
<head>
  <title>Aleksei</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link href="/dist/css/style.css" rel="stylesheet"></head>
  <body>
    <div class="page-notfound">
      <div class="page-notfound__inner"><img class="page-notfound__pic lazyload" data-srcset="images/404_768w.jpg 768w, images/404.jpg" data-src="images/404.jpg" alt="">
        <div class="page-notfound__text">
          <div class="page-notfound__title">Такой страницы не существует.</div>Через <span class="js-timer">5</span> секунд вы будете перенаправлены на <a href="/">главную страницу</a>
        </div>
      </div>
    </div>
    <script>
      (function() {
      	var t = 5;
      	var jsTimer = document.querySelector('.js-timer');
      	var timer = setInterval(function() {
      		t--;
      		jsTimer.innerHTML = t;
      		if(!t) {
      			clearInterval(timer);
      			location.href = '/dist/';
      		}
      	}, 1000);
      })()
    </script>
  <script type="text/javascript" src="/dist/js/main.bundle.js"></script></body>
</html>
